.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.header h2 {
    margin-top: 0;
}

.logo {
    height: 24px;
    padding: 10px;
}

.icon-invert {
    filter: invert(1);
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
    }

    .header h2 {
        margin-top: 0;
    }

    .logo {
        height: 32px;
        padding: 10px;
    }
}
