.sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
    margin-top: -20px;
    border-bottom: 1px solid #fff;
}

.sobre h1 {
    font-family: "Bold", sans-serif;
    letter-spacing: -1.5px;
    font-size: 40px;
    z-index: 1;
}

.apresentacao { 
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nome {
    border-bottom: 5px solid var(--main-color);
}

.perfil {
    width: 250px;
    display: flex;
    align-items: center;
    border-radius: 60%;
    z-index: 2;

}

#contato {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 920px){
    .sobre {
        position: relative;
        flex-direction: row;
    }

    .sobre h1 {
        font-size: 68px;
        position: relative;
    }

    .apresentacao {
        position: relative;
        margin-top: 80px;
        align-items: baseline;
        text-align: left;
    }

    .perfil {
        position: absolute;
        width: 450px;
        height: 600px;
        right: -20px;
        border-radius: 0;
    }
}
  